{% extends 'base.html.twig' %}
{% block title %}Todo list{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<table class="table table-striped tabled-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Date Effective</th>
				<th>Catégorie</th>
				<th class='text-center'>Actions</th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.tag.name}}</td>
							<td class='text-center'><a href="{{ path('tasks_update', {'id': task.id}) }}" class="btn btn-primary">Editer</a>   <a href="{{ path('tasks_delete', {'id': task.id}) }}" class="btn btn-danger">Supprimer</a></td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
	<script>
		$( document ).ready(function() {
			$('#tasksTable').DataTable();

			$('#tasksTable_filter').append('<a href="{{ path('tasks_create') }}" class="btn btn-secondary ml-3">Nouvelle tâche</a>');
		});
	</script>
{% endblock %}
